<!-- APP -->

<mat-toolbar class="mat-elevation-z10" color="primary" fxLayout="row">
  <span class="btn-icon-span">
    <button class='btn-icon' *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"><img class="icon"src=".\assets\icon.PNG"></button>
  </span>
  <span>Kaki's Creations</span>
  <app-add-tile></app-add-tile>
  <span>
    <button mat-button location="end" (click)="togglePageStyle()">{{current_style}}</button>
  </span>
  <div class="flex-right-align">
    <span class="btn-container-right">
      <app-login></app-login>
    </span>
    <span class="btn-container-right">
      <app-register></app-register>
    </span>
</div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" [fixedTopGap]="64" [fixedInViewport]="true" [(opened)]="opened">

  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <span>
        <app-tiles-list class="main"></app-tiles-list>
      </span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


