<!-- APP -->

<mat-toolbar class="mat-elevation-z10" color="primary" fxLayout="row">
  <span><button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">|||</button></span>
  <span>Kaki's Creations</span>
  <app-add-tile></app-add-tile>
  <span><button mat-button location="end" (click)="togglePageStyle()">{{current_style}}</button></span>
  <span></span>
  <app-login></app-login>
  <br>
  <app-register></app-register>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" [fixedTopGap]="64" [fixedInViewport]="true" [(opened)]="opened">

  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <span>
        <app-tiles-list class="main"></app-tiles-list>
      </span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


