/* mat-toolbar {
} */
mat-sidenav-container {
  height: calc(100vh);
}

mat-sidenav {
  width: 300px;
  margin: 16px;
  border-right: none;
  border-radius: 10px;
  /* padding: 16px; */
  text-align: center;
}

/* mat-toolbar {
  /* padding: 16px; */
  /* margin-bottom:2%; */
/* } */



.toolbar-align-right {
  flex: 1 1 auto;
}


