<div class="grid-list-container">
  <div fxLayout="row wrap">
    <mat-card class="tile" *ngFor="let tile of tiles">
      <mat-card-header>
        <mat-card-title>
          {{tile.title}}
        </mat-card-title>
        <mat-card-subtitle>
          {{tile.subtitle}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{tile.image_url}} alt={{tile.image_url}}>
      <mat-card-content>
        {{tile.tile_description}}
        <p>{{tile.specs}}</p>
        <p>{{tile.price}}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="buyIt(tile.id)">Buy</button>
        <button mat-button (click)="deleteTile(tile.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<!-- <ul class="tile-info">
  <li class="title">
    {{tile.title}}
  </li>
  <li class="subtitle">
    {{tile.subtitle}}
  </li>
  <li class="description">
    {{tile.tile_description}}
  </li>
  <li class="specs">
    {{tile.specs}}
  </li>
  <li class="image">
    {{tile.image_url}}
  </li>
  <li class="price">
    {{tile.price}}
  </li>
</ul> -->
