.tile {
  border: thin solid;
  border-radius: 5px;
  display: flex;
  margin: 0.75vw;
  width:20vw;
  max-width: 400px;
  min-width: 200px;
  aspect-ratio: 1/1;
}

.grid-list-container {
  margin-left: 5%;
  margin-right: 5%;
}

.tile-info {
  height: 100%;
  display: grid;

}

.title {
  position: relative;
  font-size: 30px;
  font-size: 1.8vw;
  top: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: black;
}
